div {
    position: relative;
}

a {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Constantia", serif;
    font-size: x-large;
}

li {
    display: inline;
}

body {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
}

.header{
    background-color: white;
    height: 20%;
}

.header .upSeparatorBarBlack{
    min-height: 50px;
    background-color: black;    
}

.header .upSeparatorBarYellow{
    min-height: 50px;
    background-color: yellow;
}

.header .logo{
    position: absolute;
    float: left;
    z-index: 1000;
    margin-left: 5%;
}

.header .logo img{
    height: 100%;
    display: block;
    margin: auto;
}

.header .rrssheader{
    width: 18%;
    height: 100%;
    float: right;
}

.header .rrssheader img{
    height: 100%;
    width: 20%;
    display: block;
    margin: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.header .opciones{
    width: 65%;
    height: 50px;
    float: right;
    margin-right: 3em;
}

.header .opciones .listaOpciones{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .opciones .listaOpciones>li{
    float: left;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    background-color: black;
    height: 2000px;
}

.sponsor {
    background-color: blueviolet;
    height: 30%;
}

.footer {
    background-color: yellow;
    height: 30%;    
}

.footer .goMSE {
    background-color: blueviolet;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: x-large;
    height: 100px;
}

.footer .linksFooter {
    height: 75px;
    width: 100%;
    background-color: lime;    
    list-style: none;
}

.footer .linksFooter .legales {
    height: 100%;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer .linksFooter .linkFooter {
    font-size: small;
}

.footer .linksFooter .copyright {
    height: 100%;
    float: right;
    align-items: center;
    display: flex;
    font-family: "Constantia", serif;
    margin-right: 3em;
}

.footer .linksFooter .anclaTop {
    margin-left: 2em;
}

.footer .linksFooter .icoTop {
    padding-bottom: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;    
}

.footer .linksFooter .icoTop::before {
    content: "\e94f";
}
